<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Tanaman</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Tambah Data Tanaman</h1>
        <form method="POST" action="/pupuk/save">
            <div class="form-group">
                <label for="name">Nama Tanaman :</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="pupuk">Pupuk Tanaman :</label>
                <input type="text" class="form-control" name="pupuk" id="pupuk" required>
            </div>
            <div class="form-group">
                <label for="umur">Umur Tanaman :</label>
                <input type="text" class="form-control" name="umur" id="umur" required>
            </div>
            <button type="submit" class="btn btn-primary">Kirim</button>
        </form>
    </div>
</body>

</html>